<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Roman Kazantsev</title>
    <link href="../assets/modules/about_me/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body>
  
    <header>
      <p>Сайт-визитка. Обо мне.</p>
    </header>

    <article>
      <h1 class="title">Роман Казанцев</h1>
      <p>
        Я студент ПС-14. До того, как поступить в Волгатех на это направление я не увлекался программированием и всем, что с этим направлением связано. Несмотря на это, мне удается хорошо решать различные задачи и получать за это высокие баллы. На мой взгляд самое главное в процессе обучения это мотивация.
      </p>
      <img class="my-photo photo" src="images/Roman.jpg" alt="my photo">
      <div class="my-hobbies">
        <h2 class="my-hobbies-header">Мои увлечения</h2>
        <ul>
          <li>Их нет</li>
          <li>так как</li>
          <li>все время</li>
          <li>уходит</li>
          <li>на учебу</li>
        </ul>
        <h2 class="my-hobbies-header">Мои хобби</h2>
        <ol>
          <li>Их тоже нет</li>
          <li>так как</li>
          <li>единственное хобби</li>
          <li>на ближайшие 3,5 года</li>
          <li>это учеба на ПС</li>
        </ol>
      </div>
      <div class="clear"></div>
      <div>
        <span>Хочешь написать мне? Жми на &#8594;</span> 
        <a href="https://vk.com/romashkins17">VK</a>
      </div>
    </article>

    {% for theme in array %}
    <p class="title">{{ theme.header}} </p>
    <div class="ant-carousel" id="{{ theme.header }}">
      <div class="ant-carousel-hider">
        <ul class="ant-carousel-list">
        {% for image in theme.images %}   
          <li class="ant-carousel-element">
            <img class="ant-img" src="{{ image }}" alt="0">
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="ant-carousel-arrow-left"></div>
      <div class="ant-carousel-arrow-right"></div>
      <div class="ant-carousel-dots"></div>
    </div>
    {% endfor %}

    <footer>
      <p>Copyright &#169;Frontend 2021</p>
    </footer>

    <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
    
  </body>
</html>