<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Roman Kazantsev</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
  </head>
  <body>

    <header>
      <p>Сайт-визитка. Обо мне.</p>
    </header>

    <article>
      <h1>Роман Казанцев</h1>
      <p>
        Я студент ПС-14. До того, как поступить в Волгатех на это направление я не увлекался программированием и всем, что с этим направлением связано. Несмотря на это, мне удается хорошо решать различные задачи и получать за это высокие баллы. На мой взгляд самое главное в процессе обучения это мотивация.
      </p>
      <img class="my-photo photo" src="images/Roman.jpg" alt="my photo">
      <div class="my-hobbies">
        <h2>Мои увлечения</h2>
        <ul>
          <li>Их нет</li>
          <li>так как</li>
          <li>все время</li>
          <li>уходит</li>
          <li>на учебу</li>
        </ul>
        <h2>Мои хобби</h2>
        <ol>
          <li>Их тоже нет</li>
          <li>так как</li>
          <li>единственное хобби</li>
          <li>на ближайшие 3,5 года</li>
          <li>это учеба на ПС</li>
        </ol>
      </div>
      <div class="clear"></div>
      <div>
        <span>Хочешь написать мне? Жми на &#8594;</span> 
        <a href="https://vk.com/romashkins17">VK</a>
      </div>
    </article>

    {% for theme in topic %}
      <div class="topic">
        <div class="topic__header">{{ theme.header }}</div> 
        {% for image in theme.images %}
          <img src="{{ image }}" alt="" class="topic__image">
        {% endfor%}     
        <div class="clear"></div>
      </div>
    {% endfor%} 

    <div id="block-for-slider">
        <div id="viewport">
            <ul id="slidewrapper">
              {% for image in imagesSlider %}
                <li class="slide">
                  <img src="{{ image }}" alt="1" class="slide-img">
                </li>
              {% endfor%}  
            </ul>
        </div>
    </div>

    <footer>
      <p>Copyright &#169;Frontend 2021</p>
    </footer>
    
    <script src="{{ asset('build/app.js') }}"></script>
    
  </body>
</html>